     .ourSlider {
        background: green; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, darkgreen, lightgreen, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg,darkgreen, lightgreen, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg,darkgreen, lightgreen, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg,darkgreen, lightgreen); /* Standard syntax */
        height: 1em;
        margin-top: 20px; 
        margin-left: 15px; 
        margin-right: 15px;
  }
  .form-control {
        border: 1px solid black;
  }
  .slightGreyBackground {
        background-color: #DDDDDD;
        padding-top: 10px;

  }


  .slider-label {
        margin-top: 5px;
  }
  .slider-left, .slider-right {
        padding: 0px;
  }
  .no-padding-left {
    padding-left: 0px;
  }


  /*From here on its onloy messing witht the slider*/

/*  This indented css was copied from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
                          input[type=range] {
                            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
                            width: 100%; /* Specific width is required for Firefox. */
                            background: transparent; /* Otherwise white in Chrome */
                        }

                        input[type=range]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                        }

                        input[type=range]:focus {
                            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
                        }

                        input[type=range]::-ms-track {
                            width: 100%;
                            cursor: pointer;

                            /* Hides the slider so custom styles can be added */
                            background: transparent; 
                            border-color: transparent;
                            color: transparent;
                        }

/*end completly copied code. The rest of the code is however modified and from same source
*/
input[type=range]::-webkit-slider-thumb {

    height: 30px;
    width: 30px;
    background-image: url("./filter.png"); background-size: 30px 30px;  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {

    height: 30px;
    width: 30px;
    background-image: url("./filter.png"); background-size: 30px 30px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {

    height: 30px;
    width: 30px;
    background-image: url("./filter.png"); background-size: 30px 30px;
}